/* Cascading stylesheet for the website */

/* Text inside these asterisks and slashes are comments for human */

  a {
    /* set the text color to blue here */
    color: blue;
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  a:hover {
    /* set the text color to red here */
    color: red;
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  body {
    /* set the background color here */
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: ;
    /* set the text color to black here */
    color: black;
    /* set the font here */
    font-family: Arial, Helvatica, snas-serif;
    /* set the text alignment here */
    text-align: center;
   }



  footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 //bigfont for name
  {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
   }

  h2 //blue text medium large
  {
    color: #075AAB;
    /* set both the bottom margin and top margin to 2.5rem here */
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
   }

  h3 //dark bold
  {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  h4 //small bold
  {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  h5
  {
    margin-top: 0.5rem;
  }

  hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  /* this controls how the bullet points in the resume page looks */
  ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
  .a2{
    image-orientation: left;
    <img src="images/St. francis Insitute of Technology-10_page-0001.jpg" alt="Achivements" width="20%">
  }
